{% extends 'App/base.html'%}

<!-- navbar style -->
{% block navbar %}
bg-primary
{% endblock navbar %}

<!-- Navbar content -->
{% block nav-content %}
<i class="fas fa-user">&nbsp;&nbsp; Employee Lists</i>
{% endblock nav-content %}
<!-- Page Content -->
{% block content %}
<div class="container">
    <a href="{% url 'create' %}" class="btn btn-outline-primary mb-3 mt-5">
        <i class="fas fa-plus">&nbsp;&nbsp;Emplyee</i>
    </a>
    <table class="table table-bordered border-primary">
        <thead class="table-dark">
            <tr>
                <th style="width: 25%;">Name</th>
                <th style="width: 20%;">Phone</th>
                <th style="width: 23%;">Email</th>
                <th style="width: 7%;">Gender</th>
                <th style="width: 15%;">Role</th>
                <th style="width: 10%;" colspan="2">Action</th>
            </tr>
        </thead>

        <!-- Data from DB -->

        {% for employee in object_list%}
        <tr>
            <td>{{employee.name}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.role}}</td>
            <td>
                <a href="{% url 'update' pk=employee.id %}" class="btn btn-primary btn-sm">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'delete' pk=employee.id %}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Messages from backend Metho 1 No JS -->
{% for message in messages %}
{% if message.tags == 'success' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = '{{message}}';
    swal("Good job!", m, "success"); //"warning", "error", "success" and "info".
    // swal({
    // position: 'top-end',
    // icon: 'success',
    // title: 'Your work has been saved',
    // showConfirmButton: false,
    // timer: 1500
    // })
</script>
{% endif %}
{% endfor %}
</div>
{% endblock content %}