{% extends 'App/employee_list.html' %}

<!-- Crispy Form -->

{% load crispy_forms_tags %}
<!-- Navbar content -->
{% block nav-content %}
<i class="fas fa-user-check">&nbsp;&nbsp; Employee</i>
{% endblock nav-content %}

<!-- Page Content -->

{% block content %}
 <div class="container mt-2" style="width: 450px;">
    <div class="card p-3 border-dark">
        <form method="POST" autocomplete="off">

            {% csrf_token %}
            {{ form.name | as_crispy_field }}
            {{ form.phone | as_crispy_field }}
            {{ form.email | as_crispy_field }}
            {{ form.gender | as_crispy_field }}
            {{ form.role | as_crispy_field }}
            <br><hr>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'read' %}" class="btn btn-secondary">Cancel</a>
            </div>
            <hr>
        </form>

    </div>
 </div>

{% endblock content %}